@import "../styles/_colors.scss";

body {
    background-color: $primary-background;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar-brand img {
    height: 50px;
}

body > main {
    overflow: auto;
}

.bg-primary * {
    color: $primary-txt;
}

.bg-dark * {
    color: $primary-txt;
}

