<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MÈME ory</title>
    <!-- TODO Step 1: change css location to '../../styles/style.css' -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- TODO Step 1: change css location to '../../styles/bootstrap.css' -->
    <!-- TODO Step 2.1: change css location to '../../../../node_modules/bootstrap/dist/css/bootstrap.css' -->
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- TODO Step 1: add link to a new './card/cart.component.css' file -->
    <link rel="stylesheet" href="./card/card.component.css" />

  </head>

  <body class="d-flex flex-column">
    <nav class="navbar bg-primary mb-3 shadow">
      <a class="navbar-brand d-flex" href="/src">
        <!-- TODO Step 1: change image location to '../../../assets/logo_take_my_money.png' -->
        <img
          class="d-inline-block align-top"
          src="../../../assets/logo_take_my_money.png"
          alt="logo"
        />
        <span class="align-self-center m-2">MÈME ory</span>
      </a>
      <span class="navbar-title"></span>
    </nav>

    <div class="container-fluid flex-grow-1 overflow-auto">
      <!-- TODO Step 7: Keep only this element -->
      <main class="game-cmp">
        <div class="cards flex-row h-100"></div>
      </main>

      <footer class="navbar position-absolute fixed-bottom bg-dark">
        <span>&copy The MEME ory corporation | 2021</span>
      </footer>
    </div>
  </body>

  <template id="card-template">
    <!-- TODO Step 7: move card-cmp in card.component.html -->
    <main class="card-cmp">
      <div class="card-wrapper">
        <img class="card front-face" alt="card" />
        <!-- TODO Step 1: change image location to './card/assets/back.png' -->
        <img
          class="card back-face"
          alt="card"
          src="./card/assets/back.png"
        />
      </div>
    </main>
  </template>

  <!-- link to welcome controller -->
  <!-- TODO Step 7: remove all <script> tags -->

  <!-- TODO Step 1: change script location to './game.component.js' -->
  <script src="./game.component.js"></script>
  <!-- TODO Step 1: change script location to './card/card.component.js' -->
  <script src="./card/card.component.js"></script>
  <script>
    (function () {
      new GameComponent().init();
    })();
  </script>
</html>
