<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MÈME ory</title>
    <!-- TODO Step 1: change css location to '../../styles/style.css' -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- TODO Step 1: add link to a new './score.component.css' file -->
    <link rel="stylesheet" href="./score.component.css" />
    <!-- TODO Step 2.1: change css location to '../../../../node_modules/bootstrap/dist/css/bootstrap.css' -->
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css" />
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar bg-primary mb-3 shadow">
      <a class="navbar-brand d-flex" href="/src">
        <!-- TODO Step 1: change image location to '../../../assets/logo_take_my_money.png' -->
        <img
          class="d-inline-block align-top"
          src="../../../assets/logo_take_my_money.png"
          alt="logo"
        />
        <span class="align-self-center m-2">MÈME ory</span>
      </a>
      <span class="navbar-title"></span>
    </nav>

    <div class="container-fluid flex-grow-1 overflow-auto">
      <!-- TODO Step 7: Keep only this element -->
      <main class="score-cmp">
        <div class="d-flex p-3">
          <div class="flex-grow-1">
            <h3 class="congrats">CONGRATS<br /><span id="name"></span></h3>
          </div>
          <div>
            <!-- TODO Step 1: change image location to './assets/happy_homer.jpg' -->
            <img src="./assets/happy_homer.jpg" class="happy" />
            <p class="size"><span id="size"></span> pairs</p>
            <p class="time"><span id="time"></span>s</p>
          </div>
        </div>
      </main>

      <footer class="navbar position-absolute fixed-bottom bg-dark">
        <span>&copy The MEME ory corporation | 2021</span>
      </footer>
    </div>
  </body>

  <!-- link to welcome controller -->
  <!-- TODO Step 1: change script location to './score.component.js' -->
  <!-- TODO Step 7: remove all <script> tags -->
  <script src="./score.component.js"></script>
  <script>
    new ScoreComponent().init();
  </script>
</html>
